main {
    min-height: 80vh;
}

.frame-img {
    max-height: 300px;
    width: auto;
}

.preview {
    max-height: 500px;
    width: auto;
}

.annotator {
    max-width: 500px;
    padding: 10px;
}

.frame-content {
    margin-top: 20px;
    margin-right: 20px;
}

.frame-x {
    display: flex;
    justify-content: space-between;
}

.final-placeholder {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.processing {
    display: inline;
}

.card-annotated {
    border: 3px solid #247a74;
}

.error-lg {
    max-height: 200px;
    overflow-y: auto;
}

.error-label {
    display: flex;
    justify-content: space-between;
}